<link rel="stylesheet" href="/stylesheets/h&l.css">
<%-include("partials/header")%>
<%-include("partials/nav")%>

<div class="page1">
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/6/8/eff01060-f706-468d-b97c-95cdf43174f91528443826867-Desktop-Home-Banner.jpg" alt=""></a>
</div>

<div class="page2">
<div class="page2-part1">
    <h4>NICE TO SEE YOU, COME ON IN!</h4>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563660020-bed.jpg" alt=""></a>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563782565-furnishings.jpg" alt=""></a>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563810789-art-n-decor.jpg" alt=""></a>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563866590-lamps.jpg" alt=""></a>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563925069-kitchen.jpg" alt=""></a>
    <a href=""><img src="https://assets.myntassets.com/f_webp,w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563958962-bath.jpg" alt=""></a>
</div>

<div class="page2-part2">
    <ul>
        <h6>Furnishings & Bed Linen</h6>
        <br>
        <a href="">Bed Sheets</a>
        <a href="">Bedding Sets & Bed Covers</a>
        <a href="">Blankets Quilts & Dohars</a>
        <a href="">Pillows and Pillow Cover</a>
        <a href="">Cushions and Cushion Covers </a>
        <a href="">Curtains</a>
        <a href="">Mats and Dhurries</a>
        <a href="">Carpets</a>
        <br>
        <h6>Bath & Bed Linen</h6>
        <br>
        <a href="">Towels and Towel Sets</a>
        <a href="">Bath Robes</a>
        <a href="">Bathroom Accessories</a>
        <a href="">Shower Curtains</a>
        <a href="">Bath Rugs</a>
        <br>
        <h6>Home Decor</h6>
        <br>
        <a href="">Pooja Essentials</a>
        <a href="">Laptop Table</a>
        <a href="">Ottomans</a>
        <a href="">Artificial Flowers and Plants</a>
        <a href="">Candles and Candle Holders </a>
        <a href="">Clocks</a>
        <a href="">Planters and Garden Accesories</a>
        <a href="">Home Fragrances</a>
        <a href="">Mirrors</a>
        <a href="">Wall Art</a>
        <a href="">Wall Decor</a>
        <a href="">Wall Shelves</a>
        <a href="">Showpieces & Vases</a>
        <br>
        <h6>Lamps & Lighting</h6>
        <br>
        <a href="">FLoor Lamps</a>
        <a href="">Table Lamps</a>
        <a href="">Wall Lamp & String Lights</a>
        <a href="">Bathroom Lights & Outdoor Lamps</a>
        <a href="">Ceiling Lamps</a>
        <br>
         <h6>Kitchen & Table</h6>
         <br>
        <a href="">Dinnerware</a>
        <a href="">Cups & Mugs</a>
        <a href="">Water Bottles</a>
        <a href="">Bakeware</a>
        <a href="">Trays and ServeWare</a>
        <a href="">Bar and Drinkware</a>
        <a href="">Cookware and Kitchen Tools</a>
        <a href="">Kitchen Storage</a>
        <a href="">Table Covers and Furnishings</a>
        <br>
        <h6>Storage and Organisers</h6>
        <br>
        <a href="">Organisers</a>
        <a href="">Hooks and Holders</a>

    </ul>
</div>
</div>
<div class="page3">
    <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478281102-Home-page-Desktop_12.jpg" alt="">
</div>
<div class="page4">
    <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517485441956-Wedding-checklist.jpg" alt="">
    <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592904-Home-page-Desktop_14.jpg" alt="">
    <img src="https://assets.myntassets.com/f_webp,w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592892-Home-page-Desktop_15.jpg" alt="">
</div>
<div class="page5">
    <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478696928-Home-page-Desktop_16.jpg" alt="">
    <div class="page5-part1">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/26/13606c4a-14e9-48e4-a56a-a9c3979e7db21650971940091-swayam_logo_new_1980_x_1280.jpg" alt="">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/ff6b8a0b-83fa-4f9f-bbb3-0fc51fd9454a1647517771374-updated-logo.jpg" alt="">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/9830dff5-9056-402f-9bf0-ba3ead0abcaf1647499996169-SPACES---LOGO-01--BEDBATHRUGS-.jpg" alt="">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/06f9e39d-a4d4-4ba4-b4cb-960c87ff5d511647499996189-M-S-Logo.jpg" alt="">
        <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/a38e440e-1ff7-4092-acbe-46d74b38384a1551443106457-Home-page-Desktop-Brands_13.jpg" alt="">
    </div>
</div>
<footer>
    <div class="footPart1">
        <ul>
            <a class="heading" href="">ONLINE SHOPPING</a>
            <br>
            <a href="">Men</a>
            <a href="">Women</a>
            <a href="">Kids</a>
            <a href="">Home & Living</a>
            <a href="">Beauty</a>
            <a href="">Gift Cards </a>
            <a href="">Myntra Insider</a>
        </ul>
        <br>
        <ul>
            <p class="heading">USEFUL LINKS</p>
            <br>
            <a href="">Blog</a>
            <a href="">Careers</a>
            <a href="">Site Map</a>
            <a href="">Corporate Information</a>
            <a href="">Whitehat</a>
        </ul>
    </div>
    <div class="footPart2">
        <ul>
            <p class="heading">CUSTOMER POLICIES</p>
            <br>
            <a href="">Contact Us </a>
            <a href="">F&Q</a>
            <a href="">T&C</a>
            <a href="">Terms Of Use</a>
            <a href="">Track Orders</a>
            <a href="">Shipping</a>
            <a href="">Cancelling</a>
            <a href="">Returns</a>
            <a href="">Privacy policy </a>
            <a href="">Grievance Officer</a>
        </ul>
    </div>
    <div class="footPart3">
        <p class="heading">EXPERIENCE MYNTRA APP ON MOBILE</p>
        <br>
        <div class="img">
            <img class="app"
                src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"
                alt="">
            <img class="app"
                src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"
                alt="">
        </div>
        <br>
        <p class="heading">KEEP IN TOUCH</p>
        <br>
        <div class="social">
            <a href=""><img
                    src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png"
                    alt=""></a>
            <a href=""><img
                    src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png"
                    alt=""></a>
            <a href=""><img class="youtube"
                    src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png"
                    alt=""></a>
            <a href=""><img
                    src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png"
                    alt=""></a>
        </div>
    </div>
    <div class="footPart4">
        <div class="footPArt4-1">
            <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                alt="">
            <p> <strong>100% ORIGINAL</strong> guarantee for all products at myntra.com</p>
        </div>
        <br><br>
        <div class="footPArt4-2">
            <img src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png"
                alt="">
            <p><strong>Return within 14days</strong> of receiving your order</p>
        </div>

    </div>
</footer>
<div class="popularSearch">
    <p class="heading">POPULAR SEARCH</p>
    <br>
    <a href="/sherwani">Sherwani</a> |
    <a href="/track-pants">Track Pants</a> |
    <a href="/blazer">Blazers</a> |
    <a href="/sweater-for-men">Sweater For Men</a> |
    <a href="/men-wedding-dresses">Men Wedding Dresses</a> |
    <a href="/kurta-pajama">Kurta Pajama</a> |
    <a href="/raincoats">Raincoats</a> |
    <a href="/short">Shorts</a> |
    <a href="/trousers">Trousers</a> |
    <a href="/waistcoat">Waistcoats</a> |
    <a href="/inner-wear">Inner Wear</a> |
    <a href="/night-wear">Night Wear</a> |
    <a href="/jeans">Jeans</a> |
    <a href="/shirts">Shirts</a> |
    <a href="/jogger-jeans">Jogger Jeans</a> |
    <a href="/men-suits">Men Suits</a> |
    <a href="/t-shirt">TShirts</a> |
    <a href="/sweat-shirts">Sweatshirts</a> |
    <a href="/jackets-for-men">Jacket For Men</a> |
    <a href="/track-suits">Tracksuits</a> |
    <a href="/ribbed-jeans">Ribbed Jeans</a> |
    <a href="/ethnic-wear">Ethnic Wear</a> |
    <a href="/hoodies">Hoodies</a> |
    <a href="/raksha-bandhan-gifts">Raksha Bandhan Gifts</a> |
    <a href="/watches">Watches</a> |
    <a href="/shoes">Shoes</a> |
    <a href="/belts">Belts</a> |
    <a href="/swim-wear">Swimwear</a> |
    <a href="/dhotis">Dhotis</a> |
    <a href="/boxers">Boxers</a> |
    <a href="/vests">Vests</a> |
    <a href="/thermals">Thermals</a> |
    <a href="/socks">Socks</a> |
    <a href="/shrugs">Shrugs</a> |
    <a href="/braclets">Braclets</a> |
    <a href="/rings">Rings</a> |
    <a href="/sunglasses">Sunglasses</a> |
    <a href="/headphones">Headphones</a> |
    <a href="/wallets">Wallets</a> |
    <a href="/helmets">Helmets</a> |
    <a href="/caps">Caps</a> |
    <a href="/mufflers">Mufflers</a> |
    <a href="/gloves">Gloves</a> |
    <a href="/ties">Ties</a> |
    <a href="/cufflinks">Cufflinks</a> |
    <a href="/men-sandals">Men Sandals</a> |
    <a href="/floaters">Floaters</a> |
    <a href="/flip-flops">Flip Flops</a> |
    <a href="/trunks">Trunks</a> |
    <a href="/bags">Bags</a> |

</div>
<div class="copyright">
    <p>In case of any concern,<a href="/contact-us">Contact Us</a> </p>
    <p>© 2023 www.myntra.com. All rights reserved.</p>
</div>

<%-include("partials/footer")%>
