<link rel="stylesheet" href="/stylesheets/kids.css">
<%- include('partials/header')%>
    <%- include('partials/nav')%>
        <div class="page1">
            <div class="kidsImages">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/a606c305-a23f-4fe3-a630-343ced4a10261649782019470-Kids-Wear_Desk_Banner.jpg?v1"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/09f0df54-6f8f-4bb0-a4b9-3b374d4538561649782019495-Top-Brands-2_Desk_Banner.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/b97efc90-2359-48ea-bf74-9c72d552fdef1649782019503-T-Shirts-_-Shorts_Desk_Banner.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/7f5e46bd-da64-489b-bbab-ebf67b12f8091649782019457-Innerwear_Desk_Banner.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/0e977afc-87e2-4798-a0d6-bfb05ba796911649782019489-Super-Bottoms_Desk_Banner.jpg"
                        alt=""></a>
            </div>

            <div class="radios">
                <input type="radio" name="radio-btn" id="radio1" class="radio-btn">
                <input type="radio" name="radio-btn" id="radio2" class="radio-btn">
                <input type="radio" name="radio-btn" id="radio3" class="radio-btn">
                <input type="radio" name="radio-btn" id="radio4" class="radio-btn">
                <input type="radio" name="radio-btn" id="radio5" class="radio-btn">
            </div>
        </div>

        <div class="page2">
            <h4>FAVOURITE BRANDS</h4>
            <div class="page2-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/ab69d015-a975-4bda-990c-49e68938f6b31604926460802-19-FavBrands-AllenSollyJuniors.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/fee6018d-c5dd-44b7-b1d1-9b994c1ae1e21604926460545-13-FavBrands-UCB.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/4d3f0e9d-1b7a-458e-b05b-75d1f51db0411604926460628-15-FavBrands-NautiNati.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/a505cf6b-beab-4bea-ba8d-06d7302486761604926460589-14-FavBrands-USPA.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/10/5843d479-8331-4c70-9e44-796b984a258e1604993081657-17-FavBrands-MiniKlub--1-.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/20/dc3e538c-bdbe-4df6-b38d-e628f1b18e211605856135445-ShopBybrands-lilpicks.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/0bb2a638-7a84-4e75-bbbb-152140d32fd51604926460667-16-FavBrands-Peppermint.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/7a43b5cc-7b14-465a-9043-153fe35fb4d91604926460506-12-FavBrands-Gini_Jony.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_108,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/4f79cccf-f8af-4a41-b531-a02ffc8bb1151604926460459-11-FavBrands-YK.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="page3">
            <h4>TOP PICKS</h4>
            <div class="page3-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/cca065d6-f192-44dd-9e12-40be8c5ed9ee1649781648648-H_M.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/00a95486-20dc-42e4-95d9-91242ba7f83b1649781648667-Kids-wear.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/54794130-d358-421b-a73f-1ea5f98330641649781648655-Indian-Wear.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/2d7c5cdb-1859-4883-8ba6-8fa2bc8ace841649781648661-Jeans-_-Trousers.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/d535f930-b28d-4aaa-a3a1-e6cbf43ac18f1649781648685-Redtape.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/603cd248-fa30-43be-b649-55b5ec70e5431649781648679-Max.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/c97dcb69-4b36-4f4a-adde-d473b2e5ae9d1649781648698-Top-Brands.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/46e55402-2a6b-4397-8332-4a786cf6fd801649781648704-Tops-_-Tees.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/489b294a-84f4-4858-8f8e-ca485a36c5811649781648673-Kids-Wear-1.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/38907e29-87e1-46ec-8542-43a29e3c82c81649781648691-Teens-Clothing.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_89,c_limit,fl_progressive,dpr_2.0/assets/images/2022/4/12/728e97e1-4845-41b8-8830-19e7cb0cf4161649781648642-Baby-Utilities.jpg"
                        alt=""></a>
            </div>
        </div>

        <div class="page4">
            <h4>ICONIC BRANDS</h4>
            <div class="page4-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f79446fb-46b9-455a-a6c0-4ffe3f58dd071604906586106-23-IconicBrands-H_M.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/2ba882da-667c-4f6e-a27e-292d0ffe477a1604906586228-26-IconicBrands-MangoKids.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/37147834-2bc5-4cdb-8eb9-68bf0fd48ca01604906586191-25-IconicBrands-Chicco.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f23d49ee-a598-4039-a6cd-33dab8a7e2011604906586056-22-IconicBrands-M_S.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/0f9ec937-304a-433a-9433-5409c556831c1604906586152-24-IconicBrands-TommyHilfiger.jpg"
                        alt=""></a>
            </div>
        </div>

        <div class="page5">
            <h4>FASHION & ESSENTIALS</h4>
            <div class="page5-img1">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/f20838ab-108c-4fe6-bd74-0dc7551a2bbd1604906586589-34-Essentials-Masks.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3df8a117-4db8-4cb6-ac0e-e60291d957241604906586646-35-Essentials-BabyCare.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/29baf945-9e5b-4f0e-bb05-0ce65c57f9c91604906586502-32-Essentials-Shorts.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/353fd453-6a17-45b9-b3da-a3dfd88121a31604906586547-33-Essentials-Valuepacks.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/c22c8c4b-753a-4f90-8def-511d2ed6caf31604906586731-37-Essentials-EthnicWear.jpg"
                        alt=""></a>
            </div>
            <div class="page5-img2">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/efc4b19d-179f-4437-961c-839df50299a51604906586690-36-Essentials-Night_innerwear.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/4e6eefd3-3355-4c1c-851e-48a49c97d5b31604906586407-30-Essentials-Onesies.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/33368b8b-8702-4108-96a9-b8fa5b7ed36f1604906586455-31-Essentials-FlipFlop_sandals.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/2ab2f5b3-441a-430c-a605-2ac9d06007c01604906586315-28-Essentials-Dresses.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/c75a2039-4199-4174-b1b9-fecd30f7d3f91604906586359-29-Essentials-Tshirts_Tops.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="page6">
            <h4>EXPLORE MORE</h4>
            <div class="page6-img1">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/630c5d84-b4fa-4ba8-aa92-c91cd134b9201604906586823-39-Banner-LogoMania.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/7e5d76b3-afd1-4e82-8eee-179269cbab1c1604906586871-40-Banner-CharacterStore.jpg"
                        alt=""></a>
            </div>
            <div class="page6-img2">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/cd843509-16fe-4437-a814-90f3eea6bb4b1604906586922-41-Banner-AllOrganic.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/d878e27a-f64d-45c9-bd9b-ee257b49894f1604906586980-42-Banner-EssentialStore.jpg"
                        alt=""></a>
            </div>
            <div class="page6-img3">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/bb420f64-fea8-4d66-87b7-03c7f7fb6e621604906587041-43-Banner-Uniquely-Myntra.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/1ac6219d-54b8-484e-813b-c239bb9880141604906587091-44-Banner-ActiveWearStore.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="page7">
            <h4>THE KIDS SPACE</h4>
            <div class="page7-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/817ada39-86d3-4162-b10f-443c7d658f541604906587912-59b-Banner-KidsSpace.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/9906ea02-f0e5-40b8-b6db-ce3c5fd5fcf31604906587854-59a-Banner-KidsSpace.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="page8">
            <h4>BUDGET BUY</h4>
            <div class="page8-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/df528847-96b6-48cc-9104-064ad788804c1604906588040-61-BudgetBuys-TshirtsUnder499.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/e42fbdcd-31cd-43de-b1eb-0f3f4351e08d1604906588093-62-BudgetBuys-DressesUnder799.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/1abffc52-836d-4778-a034-a851b45e43c31604906588162-63-BudgetBuys-EthnicWearUnder999.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/bb9520c5-20c6-496c-811e-4693bc2828b31604906588221-64-BudgetBuys-ShortsUnder599.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/8430d7ff-a2f4-496a-bf90-b1c3a8cc7d231604906588272-65-BudgetBuys-ValuePacksUnder799.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/af518c66-a610-4ab7-91bf-b343b9c1b8501604906588337-66-BudgetBuys-FootwearUnder699.jpg"
                        alt=""></a>
            </div>
        </div>
        <div class="page9">
            <h4>SHOP MORE BRANDS</h4>
            <div class="page9-img">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/00da8e7c-c7b2-4386-be22-29e6ce7f93491626685981220-Top-Nav_Life-Style.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3b15613e-57c1-451c-bc7d-66ea2ba0066a1604906588521-69-MoreBrands-PepeJeans.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/aa944cdd-33ff-4576-988d-fe8310cf9db91604906588585-70-MoreBrands-HRXU17.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/3bfd54e9-06ca-4a1c-8286-fc1eb73242661604906588708-72-MoreBrands-Sangria.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/706a41d7-9d15-4b56-81be-2f02bac65ebb1604906588761-73-MoreBrands-Cherokee.jpg"
                        alt=""></a>

            </div>
        </div>

        <footer>
            <div class="footPart1">
                <ul>
                    <a class="heading" href="">ONLINE SHOPPING</a>
                    <br>
                    <a href="">Men</a>
                    <a href="">Women</a>
                    <a href="">Kids</a>
                    <a href="">Home & Living</a>
                    <a href="">Beauty</a>
                    <a href="">Gift Cards </a>
                    <a href="">Myntra Insider</a>
                </ul>
                <br>
                <ul>
                    <p class="heading">USEFUL LINKS</p>
                    <br>
                    <a href="">Blog</a>
                    <a href="">Careers</a>
                    <a href="">Site Map</a>
                    <a href="">Corporate Information</a>
                    <a href="">Whitehat</a>
                </ul>
            </div>
            <div class="footPart2">
                <ul>
                    <p class="heading">CUSTOMER POLICIES</p>
                    <br>
                    <a href="">Contact Us </a>
                    <a href="">F&Q</a>
                    <a href="">T&C</a>
                    <a href="">Terms Of Use</a>
                    <a href="">Track Orders</a>
                    <a href="">Shipping</a>
                    <a href="">Cancelling</a>
                    <a href="">Returns</a>
                    <a href="">Privacy policy </a>
                    <a href="">Grievance Officer</a>
                </ul>
            </div>
            <div class="footPart3">
                <p class="heading">EXPERIENCE MYNTRA APP ON MOBILE</p>
                <br>
                <div class="img">
                    <img class="app"
                        src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"
                        alt="">
                    <img class="app"
                        src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"
                        alt="">
                </div>
                <br>
                <p class="heading">KEEP IN TOUCH</p>
                <br>
                <div class="social">
                    <a href=""><img
                            src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png"
                            alt=""></a>
                    <a href=""><img class="youtube"
                            src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png"
                            alt=""></a>
                </div>
            </div>
            <div class="footPart4">
                <div class="footPArt4-1">
                    <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                        alt="">
                    <p> <strong>100% ORIGINAL</strong> guarantee for all products at myntra.com</p>
                </div>
                <br><br>
                <div class="footPArt4-2">
                    <img src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png"
                        alt="">
                    <p><strong>Return within 14days</strong> of receiving your order</p>
                </div>

            </div>
        </footer>
        <div class="popularSearch">
            <p class="heading">POPULAR SEARCH</p>
            <br>
            <a href="/sherwani">Sherwani</a> |
            <a href="/track-pants">Track Pants</a> |
            <a href="/blazer">Blazers</a> |
            <a href="/sweater-for-men">Sweater For Men</a> |
            <a href="/men-wedding-dresses">Men Wedding Dresses</a> |
            <a href="/kurta-pajama">Kurta Pajama</a> |
            <a href="/raincoats">Raincoats</a> |
            <a href="/short">Shorts</a> |
            <a href="/trousers">Trousers</a> |
            <a href="/waistcoat">Waistcoats</a> |
            <a href="/inner-wear">Inner Wear</a> |
            <a href="/night-wear">Night Wear</a> |
            <a href="/jeans">Jeans</a> |
            <a href="/shirts">Shirts</a> |
            <a href="/jogger-jeans">Jogger Jeans</a> |
            <a href="/men-suits">Men Suits</a> |
            <a href="/t-shirt">TShirts</a> |
            <a href="/sweat-shirts">Sweatshirts</a> |
            <a href="/jackets-for-men">Jacket For Men</a> |
            <a href="/track-suits">Tracksuits</a> |
            <a href="/ribbed-jeans">Ribbed Jeans</a> |
            <a href="/ethnic-wear">Ethnic Wear</a> |
            <a href="/hoodies">Hoodies</a> |
            <a href="/raksha-bandhan-gifts">Raksha Bandhan Gifts</a> |
            <a href="/watches">Watches</a> |
            <a href="/shoes">Shoes</a> |
            <a href="/belts">Belts</a> |
            <a href="/swim-wear">Swimwear</a> |
            <a href="/dhotis">Dhotis</a> |
            <a href="/boxers">Boxers</a> |
            <a href="/vests">Vests</a> |
            <a href="/thermals">Thermals</a> |
            <a href="/socks">Socks</a> |
            <a href="/shrugs">Shrugs</a> |
            <a href="/braclets">Braclets</a> |
            <a href="/rings">Rings</a> |
            <a href="/sunglasses">Sunglasses</a> |
            <a href="/headphones">Headphones</a> |
            <a href="/wallets">Wallets</a> |
            <a href="/helmets">Helmets</a> |
            <a href="/caps">Caps</a> |
            <a href="/mufflers">Mufflers</a> |
            <a href="/gloves">Gloves</a> |
            <a href="/ties">Ties</a> |
            <a href="/cufflinks">Cufflinks</a> |
            <a href="/men-sandals">Men Sandals</a> |
            <a href="/floaters">Floaters</a> |
            <a href="/flip-flops">Flip Flops</a> |
            <a href="/trunks">Trunks</a> |
            <a href="/bags">Bags</a> |

        </div>
        <div class="copyright">
            <p>In case of any concern,<a href="/contact-us">Contact Us</a> </p>
            <p>© 2023 www.myntra.com. All rights reserved.</p>
        </div>

        <hr class="optionHr">
        <div class="aboutMyntra">
            <strong>MYNTRA FOR KIDS: IRRESISTIBLY COOL AND COMFORTABLE</strong>
            <br> <br>
            <p>It is all fun and frolic when it comes to online shopping for kids at Myntra. We bring you an exhaustive
                lineup of children’s dresses, accessories and footwear for all occasions. We understand the amount of
                care which goes into raising a child. Therefore at Myntra, we have taken all efforts to bring you
                top-notch local and international kids’ brands. You don’t have to step into a kids’ store anymore, or
                browse through several kids’ online shopping sites. You will find the best price kids’ products of the
                highest quality right here. You can do all your online shopping for kids at Myntra without any worries.
            </p>
            <br> <br>
            <strong>MYNTRA: THE ONE-STOP KIDS’ SHOP</strong>
            <br> <br>
            <p>Myntra brings you a wide range of the latest kids’ dress collection as well as accessories, footwear and
                more. Browse through our exhaustive collection to learn why we are a single-destination kids’ shop,
                where you can find everything you need for your precious one.</p>
            <ol>
                <li>
                    Children’s clothing – We bring you the finest collection of children’s clothing online for all
                    occasions. Dress your children in smart printed T-shirts and tops, paired with jeans and trousers.
                    Our trendy, summery collections include shorts and skirts of all varieties. Opt for cute children’s
                    dresses from our kids’ store. You will find many party options from our kids’ dress collection
                    including sequined, shimmery and other embellished versions. Keep your babies warm and comfortable
                    in rompers and sleep wear. Your kids’ shopping should include some ethnic wear for festivals. Choose
                    from a fine range of lehenga-cholis, kurta-pyjamas, sherwanis and more. Stock up on sweaters,
                    jackets and sweatshirts for the winters. Track pants and tracksuits work well for training and
                    sports.
                </li>
                <br>
                <li>Children’s footwear – Your kids’ online shopping is not complete without footwear. Check out
                    sneakers and sports shoes at Myntra for boys and girls which feature comfortable fits to keep them
                    active through the day. Your daughters can keep their feet comfortable in beautifully crafted
                    footwear such as Mary Janes, heels, wedges, ballerinas and woven flats. We also feature very
                    functional footwear for boys in our kids’ shopping range such as sandals, clogs, slip-on shoes and
                    tennis shoes. Buy colourful boots for rainy days and flip-flops for the next trip to the beach.</li>
                <br>
                <li>Children’s accessories – Your kid’s outfit is not complete without the addition of smart accessories
                    from our kids’ online store. School-going children would love our cool versions of school bags and
                    backpacks. Our colourful printed sunglasses and dial watches add to their cuteness factor. Your
                    little girls are surely going to love our collection of fancy hairbands and hair clips.</li>
            </ol>
            <p>Make sure you bring home fun, printed merchandise featuring your child’s favourite characters from DC
                Comics and Marvel studios. They can now glide along with Spiderman, and pack a punch with Thor or the
                <strong>Incredible</strong> Hulk. They can battle the dark forces with the Justice League, flying high with Superman,
                geared up with Batman, and jumping around with Flash or Wonder Woman. You can check out a variety of
                cool kids’ T-shirts jackets, joggers, footwear, bath towels, socks, action figures and play sets in this
                category.

            </p>
            <br>
            <strong>THE MOST CONVENIENT KID’S ONLINE STORE</strong>
            <br> <br>
            <p>Compared with other kids’ online shopping sites, Myntra is one of the most convenient places for purchasing everything that a kid needs. With simplified browsing, selection and payment procedures, you are bound to enjoy your kids’ online shopping experience. And we are not just a kids’ store. You can buy great quality merchandise for men and women as well from the comfort of your home.</p>
        </div>
        </div>
        <script src="/javascripts/kids.js"></script>
        <%- include('partials/footer')%>