<link rel="stylesheet" href="/stylesheets/login.css">

<%- include('partials/header')%>

<%- include('partials/nav')%>

   <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jQuery Ripples JS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script> -->
<!-----mytra login page---->

<div class="mytra-login">
  <form action="/login" method="post">
    <img src="https://1000logos.net/wp-content/uploads/2022/08/Myntra-Logo.png">
    
    <h1 class="heading">
      Welcome to India's Largest Online Fashion Store
    </h1>
    <p>Please login to your account</p>
    
    <label>Username</label>
    <input type="text" name="username" required="true">
    
    <label>Password</label>
    <input type="password" name="password" required="true">
    
    <div class="forgot">
      <!-- <label><input type="checkbox"> Keep me signed in</label> -->
      
      <a href="/forget">Forget Password?</a>
    </div>
    
    <button class="login">Login</button>
    <div class="forgot">
        <label>Don't have an account ?</label>
        
        <a href="/signup">Signup</a>
      </div>
      
    <!-- <button class="signup">Signup</button> -->
  </form>
  
  <div class="poster">
  </div>
</div>
<!---mytra-login---->
<script src="/javascripts/login.js"></script>

<%- include('partials/footer')%>
