<link rel="stylesheet" href="/stylesheets/otp.css">
<%- include('partials/header')%>
<%- include('partials/nav')%>


<div class="main">
<div class="form-container">
   
      <h1>Reset Password</h1>
    <form action="/resetPassword/<%=email%>" method="post">
      <br>
        <input type="password" name="password" placeholder="New Password" required>

             <br>
             
             <button class="button">Confirm</button>
             <br>
         <div class="routes">
           <a href="/login">Sign in</a>
         </div>
    </form>
 </div>
 </div>
</div>
<%- include('partials/footer')%>

