<link rel="stylesheet" href="/stylesheets/women.css">
<%- include('partials/header')%>
    <%- include('partials/nav')%>

        <div class="page1">
            <div class="page1-part1">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/cfe7da1d-aaae-464a-87a8-9ecfd3c559f11690902290041-Main-Banner_Desktop_02.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/ec9b6261-f92a-4505-88c2-0e8aee7cb53b1690902289883-Main-Banner_Desktop_03.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/62aa3174-3a95-4c13-9b63-63e940c77fd61690902289924-Main-Banner_Desktop_04.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/e50c0a78-6589-4006-a36e-c60c7c9078a61690902289941-Main-Banner_Desktop_05.jpg"
                        width="380px" alt=""></a>
            </div>
            <div class="page1-part2">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/5c0418c1-b796-46e2-8a64-ce63d780781a1690902289957-Main-Banner_Desktop_06.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/7b0dcde0-8fcc-4e83-a280-48fb4f92d1ec1690902290021-Main-Banner_Desktop_07.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/153cfa24-f2a6-4b12-852d-369fb7b1b1ae1690902289986-Main-Banner_Desktop_08.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/f67e5e54-6077-4eb8-a4a5-2cb7842780511690902289863-Main-Banner_Desktop_09.jpg"
                        width="380px" alt=""></a>
            </div>
            <div class="page1-part3">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/ede54639-7403-47bf-a136-48dcdc3509c91690902290002-Main-Banner_Desktop_10.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/0bdb8eb4-c518-4991-a059-41fbffe358111690902289911-Main-Banner_Desktop_11.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/e55366bd-b859-4926-8e3d-cd3257fbc7591690902289891-Main-Banner_Desktop_12.jpg"
                        width="380px" alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/c000e024-8d99-48b2-9559-6b8be09a2d221690902289977-Main-Banner_Desktop_13.jpg"
                        width="380px" alt=""></a>
            </div>
        </div>
        <div class="page2">
            <a href="/women"><img
                    src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/4/17d00834-10b1-439d-99eb-c6f91f0713f01691152509509-OMG---DEALS.png"
                    alt=""></a>
        </div>
        <div class="page3">
            <div class="slides">
                <div class="slide1">
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/30/84bb5559-e81e-4613-9831-7f1fc24bf9b21690711873966-image_png_875126014.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/29/deff244d-4261-407a-ae6f-9884222c276b1690609817655-Top_Picks_from_Street_9-_Berrylush_-_more_-Min_60_off.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/30/d09e5aef-53f0-40e3-9a3f-324d61d22b8f1690711900713-image_png376516220.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/29/6a76a209-6f42-4b9f-a57c-bfd76f4ff0b81690609817197-Mango-_Trendyol_-_more_Min_50_off.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/29/b6f7ba20-e383-4466-a625-07fdc17b54161690609817011-Jeans_-_Trousers_-60-80_from_Tokyo_Talkies_-_Kotty_-_more.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/29/c9a6c7ea-7dac-47a4-ab1e-cedb06d8fca81690609817674-Tops_-_Tees_from_Athena_-_Street9_-60-80_Off.png"
                            alt=""></a>
                </div>
                <div class="slide2">
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/87d4437c-505b-4530-9a67-4b4728d43e0f1690890734614-image_png274239294.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/6eb331ce-0f21-47ce-b0a0-0c6d5acf652a1690890710447-image_png_2113527932.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/a464fe41-e1a8-49fd-8ff2-2000530043f81690890688113-image_png134293320.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/1/04fb56e0-97da-45f8-a1f0-82b94c2253d41690890663962-image_png392830719.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/30/284a9371-3a11-43dc-8917-10b9b3241d531690711811051-image_png_1459522818.png"
                            alt=""></a>
                    <a href=""><img
                            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/30/b71b75d7-e2e3-4969-8d17-261f211760f41690711841772-image_png1594544505.png"
                            alt=""></a>
                </div>
            </div>
            <div class="buttons">
                <input type="radio" name="radio-btn" id="radio1" class="radio-btn">
                <input type="radio" name="radio-btn" id="radio2" class="radio-btn">
            </div>

            <div class="page4">
                <a href="/women"><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/fc0a261f-0a54-46ae-976a-af0fdd87fab51698733226629-Category-Specials--1-.jpg"
                        alt=""></a>
            </div>
            <div class="page5">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/11f05fe9-c6b9-47a2-a9ad-626bd39aa19e1698732263536-Shop-By-Category_WP-_02.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/6dda0443-df51-49b0-9094-7dd60533913d1698732263382-Shop-By-Category_WP-_03.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/305462a2-4115-4185-9909-4c5514ead5e51698732263412-Shop-By-Category_WP-_04.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/a815dbfe-cb2e-49ab-9baa-55f8ec17e6bb1698740797426-Shop-By-Category_WP-_05.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/d318a859-d770-43e0-9a22-3bbfbe14f19a1698732263564-Shop-By-Category_WP-_06.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/0a5d90b5-9502-4786-8b7e-b8d9bf0151951698732263398-Shop-By-Category_WP-_07.jpg"
                        alt=""></a>
            </div>
            <div class="page6">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/c8e7a242-7952-4179-bfca-eeeef0eee1301698732263497-Shop-By-Category_WP-_08.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/ec391a0b-f6e9-4bf0-aac1-1abceb52887e1698732263469-Shop-By-Category_WP-_09.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/5c7f94e0-09cc-4ac5-a1db-d44e4f4ee42f1698732263483-Shop-By-Category_WP-_10.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/601b0ffc-06ed-406f-9995-0cbf06c5db721698732263549-Shop-By-Category_WP-_11.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/edc91b77-ba5f-407d-8300-7a7c73e5c0571698732263438-Shop-By-Category_WP-_12.jpg"
                        alt=""></a>
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/e7682aff-6506-4c39-ab9c-7ef45ce62a9b1698732263512-Shop-By-Category_WP-_13.jpg"
                        alt=""></a>

            </div>
            <div class="page7">
                <a href=""><img
                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/10/31/35ed71ab-13ce-41e4-aef1-90b712fcdce21698733484701-App-Install-Banner--5-.jpg"
                        alt=""></a>
            </div>

        </div>

        <div class="homePage2">
            <footer>
                <div class="footPart1">
                    <ul>
                        <a class="heading" href="">ONLINE SHOPPING</a>
                        <br>
                        <a href="">Men</a>
                        <a href="">Women</a>
                        <a href="">Kids</a>
                        <a href="">Home & Living</a>
                        <a href="">Beauty</a>
                        <a href="">Gift Cards </a>
                        <a href="">Myntra Insider</a>
                    </ul>
                    <br>
                    <ul>
                        <p class="heading">USEFUL LINKS</p>
                        <br>
                        <a href="">Blog</a>
                        <a href="">Careers</a>
                        <a href="">Site Map</a>
                        <a href="">Corporate Information</a>
                        <a href="">Whitehat</a>
                    </ul>
                </div>
                <div class="footPart2">
                    <ul>
                        <p class="heading">CUSTOMER POLICIES</p>
                        <br>
                        <a href="">Contact Us </a>
                        <a href="">F&Q</a>
                        <a href="">T&C</a>
                        <a href="">Terms Of Use</a>
                        <a href="">Track Orders</a>
                        <a href="">Shipping</a>
                        <a href="">Cancelling</a>
                        <a href="">Returns</a>
                        <a href="">Privacy policy </a>
                        <a href="">Grievance Officer</a>
                    </ul>
                </div>
                <div class="footPart3">
                    <p class="heading">EXPERIENCE MYNTRA APP ON MOBILE</p>
                    <br>
                    <div class="img">
                        <img class="app"
                            src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"
                            alt="">
                        <img class="app"
                            src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"
                            alt="">
                    </div>
                    <br>
                    <p class="heading">KEEP IN TOUCH</p>
                    <br>
                    <div class="social">
                        <a href=""><img
                                src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png"
                                alt=""></a>
                        <a href=""><img
                                src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png"
                                alt=""></a>
                        <a href=""><img class="youtube"
                                src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png"
                                alt=""></a>
                        <a href=""><img
                                src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="footPart4">
                    <div class="footPArt4-1">
                        <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                            alt="">
                        <p> <strong>100% ORIGINAL</strong> guarantee for all products at myntra.com</p>
                    </div>
                    <br><br>
                    <div class="footPArt4-2">
                        <img src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png"
                            alt="">
                        <p><strong>Return within 14days</strong> of receiving your order</p>
                    </div>

                </div>
            </footer>
            <div class="popularSearch">
                <p class="heading">POPULAR SEARCH</p>
                <br>
                <a href="/sherwani">Sherwani</a> |
                <a href="/track-pants">Track Pants</a> |
                <a href="/blazer">Blazers</a> |
                <a href="/sweater-for-men">Sweater For Men</a> |
                <a href="/men-wedding-dresses">Men Wedding Dresses</a> |
                <a href="/kurta-pajama">Kurta Pajama</a> |
                <a href="/raincoats">Raincoats</a> |
                <a href="/short">Shorts</a> |
                <a href="/trousers">Trousers</a> |
                <a href="/waistcoat">Waistcoats</a> |
                <a href="/inner-wear">Inner Wear</a> |
                <a href="/night-wear">Night Wear</a> |
                <a href="/jeans">Jeans</a> |
                <a href="/shirts">Shirts</a> |
                <a href="/jogger-jeans">Jogger Jeans</a> |
                <a href="/men-suits">Men Suits</a> |
                <a href="/t-shirt">TShirts</a> |
                <a href="/sweat-shirts">Sweatshirts</a> |
                <a href="/jackets-for-men">Jacket For Men</a> |
                <a href="/track-suits">Tracksuits</a> |
                <a href="/ribbed-jeans">Ribbed Jeans</a> |
                <a href="/ethnic-wear">Ethnic Wear</a> |
                <a href="/hoodies">Hoodies</a> |
                <a href="/raksha-bandhan-gifts">Raksha Bandhan Gifts</a> |
                <a href="/watches">Watches</a> |
                <a href="/shoes">Shoes</a> |
                <a href="/belts">Belts</a> |
                <a href="/swim-wear">Swimwear</a> |
                <a href="/dhotis">Dhotis</a> |
                <a href="/boxers">Boxers</a> |
                <a href="/vests">Vests</a> |
                <a href="/thermals">Thermals</a> |
                <a href="/socks">Socks</a> |
                <a href="/shrugs">Shrugs</a> |
                <a href="/braclets">Braclets</a> |
                <a href="/rings">Rings</a> |
                <a href="/sunglasses">Sunglasses</a> |
                <a href="/headphones">Headphones</a> |
                <a href="/wallets">Wallets</a> |
                <a href="/helmets">Helmets</a> |
                <a href="/caps">Caps</a> |
                <a href="/mufflers">Mufflers</a> |
                <a href="/gloves">Gloves</a> |
                <a href="/ties">Ties</a> |
                <a href="/cufflinks">Cufflinks</a> |
                <a href="/men-sandals">Men Sandals</a> |
                <a href="/floaters">Floaters</a> |
                <a href="/flip-flops">Flip Flops</a> |
                <a href="/trunks">Trunks</a> |
                <a href="/bags">Bags</a> |

            </div>
            <div class="copyright">
                <p>In case of any concern,<a href="/contact-us">Contact Us</a> </p>
                <p>© 2023 www.myntra.com. All rights reserved.</p>
            </div>

            <hr class="optionHr">
            <div class="aboutMyntra">
                <strong>ONLINE SHOPPING FOR WOMEN: MYNTRA ALL THE WAY</strong>
                <br> <br>
                <p>When it comes to women, shopping is more than just a therapy. We believe that it is a joyous activity
                    where you get to choose a whole new lifestyle. If you would like access to a wide variety of
                    products for women online shopping is the way to go. And of all the online shopping sites for women,
                    Myntra is the place to find the finest brands of women’s fashion and lifestyle products. The women’s
                    shopping range at Myntra includes the best price merchandise of top-notch quality.</p>
                <br> <br>
                <strong>WOMEN’S ONLINE SHOPPING: CLOTHES, ACCESSORIES, FOOTWEAR, AND MORE</strong>
                <br> <br>
                <p>While a few online shopping sites for women might focus on apparel, others on ethnic wear, and yet
                    others on home décor, Myntra brings you everything under one roof. Here is a list of must-haves from
                    the wide variety of awesome products at Myntra:</p>
                <ol>
                    <li>
                        Your online shopping clothes’ list should include a healthy mix of apparel suitable for casual,
                        formal and festive occasions. Look cool in T-shirts, tops and jeans. Ooze maximum oomph with our
                        top-of-the-range dresses. Climb up the corporate ladder with chic formal wear. Try the ethnic
                        touch with our pretty printed-kurtas, Patiala salwars and dhotis. Stride into a wedding with
                        confidence in a lehenga choli or an elegant saree.
                    </li>
                    <br>
                    <li>If you are generally reluctant to step out to purchase innerwear for women online shopping provides a comfortable, private setting where you can shop in peace. Right from basic bras and briefs, to shape wear and swimwear, we have an option for each of your needs. You can include in your online clothes’ shopping list cosy winter wear and sporty sweatshirts and tracksuits as well.</li>
                    <br>
                    <li>Once you are done with your online clothes’ shopping, it is time to buy smart jewellery. Our range of pretty rings, necklaces, bracelets and more have been crafted to highlight your natural beauty. You can find smart accessories here as well such as handbags, purses, sunglasses and beautiful analogue and digital watches for any occasion.</li>
                     <br>
                     <li>Your online women’s shopping adventure should include a trip to our footwear section. Feel fabulous in fine footwear from the best brands crafted to perfection. Be it handcrafted mojaris and juttis or single-toe flats from our ethnic section, or pumps and peep-toe shoes from our western section, you are sure to be dressed to impress.
                    </li>
                </ol>
                <p> And there are more fabulous products such as sportswear, blazers, gowns, dress material, bath accessories, kajal and makeup for women online. The women’s online shopping experience at Myntra is filled with unlimited choices!</p>
                <br>
                <p>Our online shopping fashion for mens collection includes even more amazing merchandise such as
                    innerwear, sleepwear, track pants, personal care, wallets, belts and other fashion accessories.</p>
                <br>
                <strong>ONLINE SHOPPING FOR WOMEN MADE EASY</strong>
                <br> <br>
                <p>The women’s shopping experience at a physical store is fraught with problems. Long payment queues, crowded shops and struggles for parking spaces are not enjoyable. At Myntra you can complete your shopping and make your payment in a jiffy. Just a few clicks, or a few taps on your smartphone, and you are done! Enjoy your online women’s shopping journey at Myntra and get set to redefine your lifestyle.</p>
            </div>
        </div>
        <script src="/javascripts/women.js"></script>
        <%- include('partials/footer')%>