.page1{
    width: 100%;
    margin-top: 8%;
    background-color: #fff;
}
.page{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slider{
    position: relative;
    text-align: center;
    margin-top: -5%;
    z-index: 5;
}
.page2 , .page3 , .page4 ,.page5 ,.page6 , .page7 , .page8 ,.page9 {
    width: 100%;
    background-color: #fff;
}
.page2 h4 , .page3 h4 , .page4 h4 , .page5 h4 , .page6 h4 , .page7 h4 , .page8 h4 , .page9 h4{
    padding : 2% 0;
    padding-left: 4%;
    font-size: 25px;
    letter-spacing: 8px;
}
.page2 .brands{
    width: 100%;
}
.page2 .brands .brands1 , .page2 .brands .brands2 , .page3 .bags ,.page4 .top ,.page5 .luxe ,.page6 .trendInd ,.page7 .trendSport, .page8 .trendFoot , .page9 .trendAcce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.page3 .bags .bag{
   width: 13vmax;
}
.page4 .top .tops,.page6 .trendInd .trends , .page7 .trendSport .sports , .page8 .trendFoot .foot , .page9 .trendAcce .acce{
    width: 17vmax;
}
.page5 .luxe .luxes{
    width: 13vmax;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    /* background-color: red; */
}
footer .footPart1 ul , footer .footPart2 ul {
    display: flex;
    flex-direction: column;
}
footer .footPart1{
    padding-top: 7%;
}
.footpart3 .app{
    width: 150px;
 }
 .footpart3 .social img{
    width: 20px;
}
.footpart3 .social .youtube{
    width: 25px;
}
.footPart4 .footPArt4-1 , .footPart4 .footPArt4-2{
    display: flex;
    gap: 10px;
    width: 58%;
}
.footPArt4-1 img , .footPArt4-2 img{
    width: 50px;
}
.footPart4{
    margin-top: -4%;
}
a{
    color: #696B79;
    font-size: 1.5vmin;
    font-weight: 700;
}
.heading{
    color: #282C3F;
    font-size: 1.7vmin;
    font-weight: 700;
 }
.popularSearch{
    padding: 5% 10%;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10% ;
    padding-bottom: 3%;
}
.copyright p a{
    font-size: 15px;
    color: blue;
}
.optionHr {
    /* margin: 25px 0; */
    width: 90%;
    position: relative;
    left: 5%;
}
.aboutMyntra{
    padding:3% 10%;
    /* padding-top: 3%; */
}
.aboutMyntra .strong{
    padding-bottom: 10%;
}
.aboutMyntra p{
    color: #696B79;
}
.aboutMyntra ol{
    padding: 2% 0 ;
    padding-left: 5%;
}
.aboutMyntra ol li {
    color: #696B79;
}
.aboutMyntra ol li strong{
    color: black;
}