.page1{
    width: 100%;
    margin-top: 8%;
}
.page1 .page1-part1, .page1 .page1-part2 ,.page1 .page1-part3{
    display: flex;
    justify-content:center;
    align-items: center;
    /* overflow: hidden; */
}
.page2 a img{
    width: 100%;
}
.slides .slide1  , .slides .slide2{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
}
.slides .slide1 a img , .slides .slide2 a img {
    width: 16.4vmax;
}
.slides{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 500px; */
    position: relative;

    overflow:  scroll hidden;
}
   
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    background-color: white;
}

.slides::-webkit-scrollbar{
    display: none;
}
.page4 a img{
    width: 98.8vw;
}
.page5 , .page6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.page5 a img , .page6 a img{
    width: 16.4vmax;
}
.page7 a img {
    width: 98.8vw;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    /* background-color: red; */
}
footer .footPart1 ul , footer .footPart2 ul {
    display: flex;
    flex-direction: column;
}
footer .footPart1{
    padding-top: 7%;
}
.footpart3 .app{
    width: 150px;
 }
 .footpart3 .social img{
    width: 20px;
}
.footpart3 .social .youtube{
    width: 25px;
}
.footPart4 .footPArt4-1 , .footPart4 .footPArt4-2{
    display: flex;
    gap: 10px;
    width: 58%;
}
.footPArt4-1 img , .footPArt4-2 img{
    width: 50px;
}
.footPart4{
    margin-top: -4%;
}
a{
    color: #696B79;
    font-size: 1.5vmin;
    font-weight: 700;
}
.heading{
    color: #282C3F;
    font-size: 1.7vmin;
    font-weight: 700;
 }
.popularSearch{
    padding: 5% 10%;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10% ;
    padding-bottom: 3%;
}
.copyright p a{
    font-size: 15px;
    color: blue;
}
.optionHr {
    /* margin: 25px 0; */
    width: 90%;
    position: relative;
    left: 5%;
}
.aboutMyntra{
    padding:3% 10%;
    /* padding-top: 3%; */
}
.aboutMyntra .strong{
    padding-bottom: 10%;
}
.aboutMyntra p{
    color: #696B79;
}
.aboutMyntra ol{
    padding: 2% 0 ;
    padding-left: 5%;
}
.aboutMyntra ol li {
    color: #696B79;
}
.aboutMyntra ol li strong{
    color: black;
}